@page "/"
@using Microsoft.Extensions.Configuration;
@inject IConfiguration Configuration

@if (Configuration["ENV"] == "Development")
{
    <h1>Development</h1>
    <img src="images/Moby-tool.png" />
}
else
{
    <h1>Container Workshop!</h1>
    <img src="images/Moby-logo.png" />
}
